=render partial: 'users/shared/top_contents', locals: { title: "test 仮TOPページ" , title_en: "test page" }
.main_contents.toppage
  .contents
    =link_to "管理側ログイン", new_admin_session_path
  .contents
    =link_to "ユーザー側ログイン", new_user_session_path