%header
  =link_to "https://appirits.com/" do
    = image_tag 'appirits_logo_white.png'
  -if administrator_signed_in?
    =link_to I18n.t('attributes.logout'), destroy_admin_session_path, method: :delete, class: "left_menu"