%footer
  .footer__map
    .footer__inner
      .footer__profile
        =link_to image_tag("logo_white.png"), ""
        %address
          株式会社アピリッツ
          %br
          〒150-0001　東京都渋谷区神宮前六丁目27番8号　京セラ原宿ビル5F
          %br
      %nav.footer__list
        %ul
          %li
            =link_to "AWS導入設計・開発", ""
          %li
            =link_to "スマホアプリ開発", ""
          %li
            =link_to "EC受注・在庫一元管理ASP", ""
          %li
            =link_to "サイト内検索ASP", ""
        %ul
          %li
            =link_to "脆弱性診断", ""
          %li
            =link_to "Webアプリケーション診断", ""
          %li
            =link_to "Googleアナリティクスセミナー", ""
          %li
            =link_to "ECサイト構築・支援サービス", ""
        %ul
          %li
            =link_to "サービス・製品", ""
          %li
            =link_to "プレスリリース", ""
          %li
            =link_to "実績紹介", ""
          %li
            =link_to "会社概要", ""
        %ul
          %li
            =link_to "特定商取引法に基づく表記", ""
          %li
            =link_to "個人情報保護方針", ""
          %li
            =link_to "GDPRへの対応について", ""
          %li
            =link_to "アクセス", ""
  .organizations
    = image_tag "footer_logos.png"
  %small © Test Inc.