%header
  .header_inner
    =link_to image_tag('logo_white.png'), ""
    .nav
      %ul.nav__sub
        %li= link_to "セミナー", ""
        %li= link_to "採用情報", ""
        %li= link_to "お問い合わせ", ""
        %li.nav__icon.map
          =link_to "" do
            =icon("fas", "map-marker-alt")
        %li.nav__icon.human
          =link_to "" do
            =icon("fas", "male")
      %ul.nav__menu
        %li
          =link_to "AWS×大規模開発", ""
        %li
          =link_to "ECソリューション", ""
        %li
          =link_to "デジタルマーケティング支援", ""
        %li
          =link_to "サービス・製品", ""
        %li
          =link_to "実績紹介", ""
        %li
          =link_to "IR情報", ""
        %li
          =link_to "プレスリリース", ""
        %li
          =link_to "会社概要", ""
        -if user_signed_in?
          %li
            =link_to I18n.t('attributes.titles.mypage'), users_mypage_path(current_user.id)
        -else
          %li
            =link_to I18n.t('attributes.titles.login'), new_user_session_path
.pkz
  %ul
    %li HOME > 仮のパンくず
